.container {
  margin: 80px;
}

.calculator {
  margin: auto;
  width: 30%;
  padding: 10px;
  border: 1px solid var(--primary-accent);
  box-shadow: 1px 1px 4px 0px rgba(176, 176, 176, 1);
  background-color: #f8f8f8;
}

table {
  width: 100%;
}

.display {
  font-size: 24px;
  padding: 16px 5px;
  font-weight: 700;
  text-align: right;
  width: 96%;
  border: 1px solid var(--primary-accent);
  background-color: #f8f8f8;
}

.button {
  width: 100%;
  padding: 18px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 3px;
  background-color: #f2f2f2;
  border: 1px solid var(--primary-accent);
}

.equal-btn {
  padding: 18px;
  font-weight: bold;
  font-size: 16px;
  border-radius: 3px;
  background-color: var(--primary-accent);
  color: var(--text-light);
  border: 1px solid var(--primary-accent);
}

.red {
    background-color: #f83535;
    color: var(--text-light); 
}
